@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    border: 2px solid black;
}

header {
    width: 100%;
    padding: 20px;
}

header .navbar {
    display: flex;
    justify-content: space-between;
}

.navbar .logo {
    margin: 20px;
    font-size: 30px;
}